   body
        {
         background-color: #E6DDC6;
         width: 100%;
         border:  5px solid red;
        }
   hr
        {
          background-color: red;
          border-style:dashed;
        }
